In [ ]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [2]:
X = tips.drop('tip', axis=1)
X.head(10)

   total_bill     sex smoker  day    time  size
0       16.99  Female     No  Sun  Dinner     2
1       10.34    Male     No  Sun  Dinner     3
2       21.01    Male     No  Sun  Dinner     3
3       23.68    Male     No  Sun  Dinner     2
4       24.59  Female     No  Sun  Dinner     4
5       25.29    Male     No  Sun  Dinner     4
6        8.77    Male     No  Sun  Dinner     2
7       26.88    Male     No  Sun  Dinner     4
8       15.04    Male     No  Sun  Dinner     2
9       14.78    Male     No  Sun  Dinner     2

In [3]:
X.shape

(244, 6)

In [4]:
Y = tips['tip']
Y.head(10)

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
Name: tip, dtype: float64

In [5]:
Y.shape

(244,)